
::deep .wide-search-box {
        width: 35rem !important; /* Keep this */
        flex: 0 1 auto !important; /* Prevent growing, allow shrinking, base on content */

}
.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* More specific selector to override input-group styles */
/*.searchContainer .input-group .form-control {
    flex: 0 0 600px !important;
    width: 600px !important;
    min-width: 300px;
}*/



ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

li a:hover:not(.header){
    background-color: #FFFFFF;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    
}
